### SQLite

25 August 2017 | Python

In [15]:
import sqlite3

# check version
sqlite3.version

'2.6.0'

### Open/ create a database

In [16]:
# open, or create, a database
db = sqlite3.connect('data/database.db')

### Create a table

In [17]:
# define cursor object
cursor = db.cursor()

# execute create table query
cursor.execute('''CREATE TABLE books(id INTEGER PRIMARY KEY, title TEXT, author TEXT, price TEXT, year TEXT)''')

# save changes to database (if any)
db.commit()

### Inserting data into tables

In [18]:
# define variables for first book
title_1 = 'Learning Python'
author_1 = 'Mark Lutz'
price_1 = '$36.19'
year_1 ='Jul 6, 2013'

# define variables for second book
title_2 = 'Two Scoops of Django: Best Practices For Django 1.6'
author_2 = 'Daniel Greenfeld'
price_2 = '$34.68'
year_2 = 'Feb 1, 2014'

In [19]:
# define cursor object
cursor = db.cursor()

# execute insert into table query (first book)
cursor.execute('''INSERT INTO books(title, author, price, year) VALUES(?,?,?,?)''', (title_1, author_1, price_1, year_1))

# execute insert into table query (second book)
cursor.execute('''INSERT INTO books(title, author, price, year) VALUES(?,?,?,?)''', (title_2, author_2, price_2, year_2))

# save changes to database (if any)
db.commit()

In [20]:
# define variables for third book
title_3 = 'The Quick Python Book'
author_3 = 'Naomi R. Ceder'
price_3 = '$16.39'
year_3 = 'Jan 15, 2010'

# define variables for fourth book
title_4 ='Python Testing'
author_4 ='David Sale'
price_4 = '$38.20'
year_4 = 'Sep 2, 2014'

# add books to list of tuples
books = [(title_3, author_3, price_3, year_3),
         (title_4, author_4, price_4, year_4)]

print(books)

[('The Quick Python Book', 'Naomi R. Ceder', '$16.39', 'Jan 15, 2010'), ('Python Testing', 'David Sale', '$38.20', 'Sep 2, 2014')]

In [21]:
# define cursor object
cursor = db.cursor()

# execute insert into table query (list of books)
cursor.executemany('''INSERT INTO books(title, author, price, year) VALUES(?,?,?,?)''', books)

# save changes to database (if any)
db.commit()

### Get all items in table

In [22]:
# define cursor object
cursor = db.cursor()

# execute select from table query
cursor.execute('''SELECT * FROM books''')

# fetch all items
rows = cursor.fetchall()

# save changes to database (if any)
db.commit()

# print each item
for row in rows:
    print(row)

(1, u'Learning Python', u'Mark Lutz', u'$36.19', u'Jul 6, 2013')
(2, u'Two Scoops of Django: Best Practices For Django 1.6', u'Daniel Greenfeld', u'$34.68', u'Feb 1, 2014')
(3, u'The Quick Python Book', u'Naomi R. Ceder', u'$16.39', u'Jan 15, 2010')
(4, u'Python Testing', u'David Sale', u'$38.20', u'Sep 2, 2014')

### Get specific item(s) in table

In [23]:
# define cursor object
cursor = db.cursor()

# define author
author = ("Mark Lutz",)

# execute select from table query
cursor.execute('''SELECT * FROM books WHERE author=?''', author)

# fetch all items
rows = cursor.fetchall()

# save changes to database (if any)
db.commit()

# print each item
for row in rows:
    print(row)

(1, u'Learning Python', u'Mark Lutz', u'$36.19', u'Jul 6, 2013')

### Drop table and close database

In [24]:
# define cursor object
cursor = db.cursor()

# execute drop table query 
cursor.execute('''DROP TABLE books''')

# save changes to database (if any)
db.commit()

In [25]:
# close database
db.close()

<i>Notebook by <a href="https://www.michaelsjoeberg.com">Michael Sjoeberg</a>, updated 25 August 2017.</i>