# Datetime Revisited

15 July 2017 | Python

In [1]:
# datetime
from datetime import *

# parser
from dateutil.parser import parse

# pandas
import pandas as pd

### Example variables

In [3]:
# define a string with date
date_string = '2016-05-23'

# define a list with dates
date_list = ['2/21/2016', '5/13/2016', '3/30/2015', '2/11/2016', '5/2/2015']

### Using 'datetime'

In [13]:
# convert string to datetime
datetime.strptime(date_string, '%Y-%m-%d')

datetime.datetime(2016, 5, 23, 0, 0)

In [14]:
# convert items in list to datetime
[datetime.strptime(date, '%m/%d/%Y') for date in date_list]

[datetime.datetime(2016, 2, 21, 0, 0),
 datetime.datetime(2016, 5, 13, 0, 0),
 datetime.datetime(2015, 3, 30, 0, 0),
 datetime.datetime(2016, 2, 11, 0, 0),
 datetime.datetime(2015, 5, 2, 0, 0)]

### Using 'parse'

In [17]:
# auto-convert string to datetime
parse(date_string)

datetime.datetime(2016, 5, 23, 0, 0)

In [18]:
# auto-convert list to datetime
[parse(date) for date in date_list]

[datetime.datetime(2016, 2, 21, 0, 0),
 datetime.datetime(2016, 5, 13, 0, 0),
 datetime.datetime(2015, 3, 30, 0, 0),
 datetime.datetime(2016, 2, 11, 0, 0),
 datetime.datetime(2015, 5, 2, 0, 0)]

### Using 'pandas' dataframe

In [42]:
# define a dictionary with dates
date_data = {'date': ['2016-05-23 20:04:12.069722',
                      '2016-05-13 16:47:05.119994',
                      '2016-05-12 18:06:05.178768',
                      '2016-05-21 18:07:45.230071',
                      '2016-05-18 05:24:10.230071'],
             'value': [1, 1, 1, 1, 1]}

# convert dictionary to pandas dataframe
df = pd.DataFrame(date_data, columns = ['date', 'value'])

# view dataframe
df

                         date  value
0  2016-05-23 20:04:12.069722      1
1  2016-05-13 16:47:05.119994      1
2  2016-05-12 18:06:05.178768      1
3  2016-05-21 18:07:45.230071      1
4  2016-05-18 05:24:10.230071      1

In [43]:
# convert 'date' from string to datetime
pd.to_datetime(df['date'])

0   2016-05-23 20:04:12.069722
1   2016-05-13 16:47:05.119994
2   2016-05-12 18:06:05.178768
3   2016-05-21 18:07:45.230071
4   2016-05-18 05:24:10.230071
Name: date, dtype: datetime64[ns]

<i>Notebook by <a href="https://www.michaelsjoeberg.com">Michael Sjoeberg</a>, updated 15 July 2017.</i>