# Working with Data

16 July 2017 | Python

In [2]:
import numpy as np
import pandas as pd

### Using 'numpy'

In [29]:
# load and assign smaller dataset to numpy array
decayArray = np.loadtxt("data/decays_sm.csv", delimiter=",", skiprows=1)

print(decayArray)

[[  0.00000000e+00   1.00000000e+01]
 [  1.00000000e+00   1.35335283e+00]
 [  2.00000000e+00   1.83156389e-01]
 [  3.00000000e+00   2.47875220e-02]
 [  4.00000000e+00   3.35462600e-03]
 [  5.00000000e+00   4.53999000e-04]
 [  6.00000000e+00   6.14420000e-05]
 [  7.00000000e+00   8.31500000e-06]
 [  8.00000000e+00   1.12600000e-06]
 [  9.00000000e+00   1.52000000e-07]]

### Using 'pandas'

In [30]:
# load and assign smaller dataset to pandas dataframe
decayDataframe = pd.read_csv("data/decays_sm.csv")

print(decayDataframe)

   Time (s)    Decays (#)
0         0  1.000000e+01
1         1  1.353353e+00
2         2  1.831564e-01
3         3  2.478752e-02
4         4  3.354626e-03
5         5  4.539990e-04
6         6  6.144200e-05
7         7  8.315000e-06
8         8  1.126000e-06
9         9  1.520000e-07

In [31]:
# convert smaller dataset to other format
decayDataframe.to_json("data/decays_sm.json")

### Missing data

In [33]:
# load and assign medium dataset to pandas dataframe
df = pd.read_csv("data/decays_md.csv")

print(df)

                          Time        Decays
0   2014-11-08T05:19:31.561782  1.000000e+01
1   2014-11-08T05:19:32.561782  1.353353e+00
2   2014-11-08T05:19:33.561782  1.831564e-01
3   2014-11-08T05:19:34.561782  2.478752e-02
4   2014-11-08T05:19:35.561782  3.354626e-03
5   2014-11-08T05:19:36.561782  4.539993e-04
6   2014-11-08T05:19:37.561782  6.144212e-05
7   2014-11-08T05:19:38.561782  8.315287e-06
8   2014-11-08T05:19:39.561782  1.125352e-06
9   2014-11-08T05:19:40.561782  1.522998e-07
10  2014-11-08T05:19:41.561782  2.061154e-08
11  2014-11-08T05:19:42.561782  2.789468e-09
12  2014-11-08T05:19:43.561782  3.775135e-10
13  2014-11-08T05:19:44.561782  5.109089e-11
14  2014-11-08T05:19:45.561782  6.914400e-12
15  2014-11-08T05:19:46.561782  9.357623e-13
16  2014-11-08T05:19:47.561782  2.000000e+00
17  2014-11-08T05:19:48.561782  2.000000e+00
18  2014-11-08T05:19:49.561782  2.000000e+00
19  2014-11-08T05:19:50.561782  2.000000e+00
20  2014-11-08T05:19:51.561782  2.000000e+00
21  2014-11-08T05:19:52.561782  2.000000e+00
22  2014-11-08T05:19:53.561782  2.000000e+00
23  2014-11-08T05:19:54.561782  2.000000e+00
24  2014-11-08T05:19:55.561782  2.000000e+00
25  2014-11-08T05:19:56.561782  1.928750e-21
26  2014-11-08T05:19:57.561782  2.610279e-22
27  2014-11-08T05:19:58.561782  3.532629e-23
28  2014-11-08T05:19:59.561782  4.780893e-24
29  2014-11-08T05:20:00.561782  6.470235e-25
30  2014-11-08T05:20:01.561782  8.756511e-26
31  2014-11-08T05:20:02.561782  1.185065e-26
32  2014-11-08T05:20:03.561782  1.603811e-27
33  2014-11-08T05:20:04.561782  2.170522e-28
34  2014-11-08T05:20:05.561782  2.937482e-29
35  2014-11-08T05:20:06.561782  3.975450e-30
36  2014-11-08T05:20:07.561782  5.380186e-31
37  2014-11-08T05:20:08.561782  7.281290e-32
38  2014-11-08T05:20:09.561782  9.854155e-33
39  2014-11-08T05:20:10.561782  1.333615e-33
40  2014-11-08T05:20:11.561782  1.804851e-34
41  2014-11-08T05:20:12.561782           NaN
42  2014-11-08T05:20:13.561782           NaN
43  2014-11-08T05:20:14.561782           NaN
44  2014-11-08T05:20:15.561782           NaN
45  2014-11-08T05:20:16.561782  8.194013e-39
46  2014-11-08T05:20:17.561782  1.108939e-39
47  2014-11-08T05:20:18.561782  1.500786e-40
48  2014-11-08T05:20:19.561782  2.031093e-41
49  2014-11-08T05:20:20.561782  2.748785e-42

In [34]:
# count items in each column
df.count()

Time      50
Decays    46
dtype: int64

In [35]:
# drop missing values (denoted as NaN) in all columns
df.dropna()

                          Time        Decays
0   2014-11-08T05:19:31.561782  1.000000e+01
1   2014-11-08T05:19:32.561782  1.353353e+00
2   2014-11-08T05:19:33.561782  1.831564e-01
3   2014-11-08T05:19:34.561782  2.478752e-02
4   2014-11-08T05:19:35.561782  3.354626e-03
5   2014-11-08T05:19:36.561782  4.539993e-04
6   2014-11-08T05:19:37.561782  6.144212e-05
7   2014-11-08T05:19:38.561782  8.315287e-06
8   2014-11-08T05:19:39.561782  1.125352e-06
9   2014-11-08T05:19:40.561782  1.522998e-07
10  2014-11-08T05:19:41.561782  2.061154e-08
11  2014-11-08T05:19:42.561782  2.789468e-09
12  2014-11-08T05:19:43.561782  3.775135e-10
13  2014-11-08T05:19:44.561782  5.109089e-11
14  2014-11-08T05:19:45.561782  6.914400e-12
15  2014-11-08T05:19:46.561782  9.357623e-13
16  2014-11-08T05:19:47.561782  2.000000e+00
17  2014-11-08T05:19:48.561782  2.000000e+00
18  2014-11-08T05:19:49.561782  2.000000e+00
19  2014-11-08T05:19:50.561782  2.000000e+00
20  2014-11-08T05:19:51.561782  2.000000e+00
21  2014-11-08T05:19:52.561782  2.000000e+00
22  2014-11-08T05:19:53.561782  2.000000e+00
23  2014-11-08T05:19:54.561782  2.000000e+00
24  2014-11-08T05:19:55.561782  2.000000e+00
25  2014-11-08T05:19:56.561782  1.928750e-21
26  2014-11-08T05:19:57.561782  2.610279e-22
27  2014-11-08T05:19:58.561782  3.532629e-23
28  2014-11-08T05:19:59.561782  4.780893e-24
29  2014-11-08T05:20:00.561782  6.470235e-25
30  2014-11-08T05:20:01.561782  8.756511e-26
31  2014-11-08T05:20:02.561782  1.185065e-26
32  2014-11-08T05:20:03.561782  1.603811e-27
33  2014-11-08T05:20:04.561782  2.170522e-28
34  2014-11-08T05:20:05.561782  2.937482e-29
35  2014-11-08T05:20:06.561782  3.975450e-30
36  2014-11-08T05:20:07.561782  5.380186e-31
37  2014-11-08T05:20:08.561782  7.281290e-32
38  2014-11-08T05:20:09.561782  9.854155e-33
39  2014-11-08T05:20:10.561782  1.333615e-33
40  2014-11-08T05:20:11.561782  1.804851e-34
45  2014-11-08T05:20:16.561782  8.194013e-39
46  2014-11-08T05:20:17.561782  1.108939e-39
47  2014-11-08T05:20:18.561782  1.500786e-40
48  2014-11-08T05:20:19.561782  2.031093e-41
49  2014-11-08T05:20:20.561782  2.748785e-42

<i>Notebook by <a href="https://www.michaelsjoeberg.com">Michael Sjoeberg</a>, updated 16 July 2017.</i>