# Data Structures

24 August | Scala

### Lists (immutable)

In [1]:
// list of strings
val lst_strings: List[String] = List("Michael", "Anna", "Adam", "Jorge", "David", "Susan", "Cole")

println(lst_strings)

List(Michael, Anna, Adam, Jorge, David, Susan, Cole)

lst_strings: List[String] = List("Michael", "Anna", "Adam", "Jorge", "David", "Susan", "Cole")

In [2]:
// list of mixed
val lst_mixed: List[Any] = List(6, 28, 1e3, -2, "Text", List(1.0, 0.0))

println(lst_mixed)

List(6, 28, 1000.0, -2, Text, List(1.0, 0.0))

lst_mixed: List[Any] = List(6, 28, 1000.0, -2, Text, List(1.0, 0.0))

In [3]:
// length of a list (number of items in list)
lst_strings.length

res2: Int = 7

In [4]:
// concatenate lists
val lst_all = lst_strings ++ lst_mixed

println(lst_all)

List(Michael, Anna, Adam, Jorge, David, Susan, Cole, 6, 28, 1000.0, -2, Text, List(1.0, 0.0))

lst_all: List[Any] = List(
  Michael,
  Anna,
  Adam,
  Jorge,
  David,
  Susan,
  Cole,
  6,
  28,
  1000.0,
  -2,
  Text,
  List(1.0, 0.0)
)

In [5]:
// add item to list (create a new list with additional items)
val lst_strings_add = "Julia" :: lst_strings

println(lst_strings_add)

List(Julia, Michael, Anna, Adam, Jorge, David, Susan, Cole)

lst_strings_add: List[String] = List("Julia", "Michael", "Anna", "Adam", "Jorge", "David", "Susan", "Cole")

In [6]:
// sort list
val lst_sorted = lst_strings.sorted

println(lst_sorted)

List(Adam, Anna, Cole, David, Jorge, Michael, Susan)

lst_sorted: List[String] = List("Adam", "Anna", "Cole", "David", "Jorge", "Michael", "Susan")

In [7]:
// print first item in list
println(lst_mixed.head)

// print last item in list
println(lst_mixed.last)

6
List(1.0, 0.0)

In [8]:
// define a list with numbers
val lst_numbers = List(5, 2, 3, 6, 4)

// delete item(s) in list (filter)
val lst_numbers_delete = lst_numbers.filter(_ > 3)

println(lst_numbers)
println(lst_numbers_delete)

List(5, 2, 3, 6, 4)
List(5, 6, 4)

lst_numbers: List[Int] = List(5, 2, 3, 6, 4)
lst_numbers_delete: List[Int] = List(5, 6, 4)

In [9]:
// create a list from string (removing whitespace)
val lst_characters = ("F = dp/dt").replaceAll("\\s", "").toList

println(lst_characters)

List(F, =, d, p, /, d, t)

lst_characters: List[Char] = List('F', '=', 'd', 'p', '/', 'd', 't')

### Tuples (immutable)

In [10]:
// create a tuple of strings
val tpl_strings = ("Michael", "Anna", "David", "Susan")

println(tpl_strings)

(Michael,Anna,David,Susan)

tpl_strings: (String, String, String, String) = ("Michael", "Anna", "David", "Susan")

In [11]:
// create a tuple of mixed
val tpl_mixed = (1.0, "Text", 4)

println(tpl_mixed)

(1.0,Text,4)

tpl_mixed: (Double, String, Int) = (1.0, "Text", 4)

In [12]:
// create nested tuples
val tpl_nested = ("Alpha", "Bravo", tpl_strings)

println(tpl_nested)

(Alpha,Bravo,(Michael,Anna,David,Susan))

tpl_nested: (String, String, (String, String, String, String)) = ("Alpha", "Bravo", ("Michael", "Anna", "David", "Susan"))

In [13]:
// print the second item in nested tuples
println(tpl_nested._2)

// print the second item in tuple in nested tuples
println(tpl_nested._3._2)

Bravo
Anna

### Maps (hash table, key:value, immutable)

In [14]:
// create a map of strings
val map_strings = Map("Michael" -> List("michael@mail.com", "mike@mail.com"),
                      "David" -> "david@mail.com",
                      "Alex" -> "alex@mail.com",
                      "Susan" -> "susan@mail.com")

println(map_strings)

Map(Michael -> List(michael@mail.com, mike@mail.com), David -> david@mail.com, Alex -> alex@mail.com, Susan -> susan@mail.com)

map_strings: Map[String, Object with java.io.Serializable] = Map(
  "Michael" -> List(michael@mail.com, mike@mail.com),
  "David" -> david@mail.com,
  "Alex" -> alex@mail.com,
  "Susan" -> susan@mail.com
)

In [15]:
// convert (option) values to list from map of strings
val lst_tmp: List[String] = map_strings.get("Michael") match {
    case None => Nil
    case Some(s: List[String]) => s
}

// print second value in list
println(lst_tmp(1))

mike@mail.com

lst_tmp: List[String] = List("michael@mail.com", "mike@mail.com")

In [16]:
// create a map of mixed
val map_mixed = Map("pi" -> 3.14159,
                    "e" -> 2.718,
                    "h" -> 6.62606957e-34,
                    true -> 1.0)

map_mixed: Map[Any, Double] = Map(pi -> 3.14159, e -> 2.718, h -> 6.62606957E-34, true -> 1.0)

In [17]:
// get value from map of mixed using key
map_mixed.get("e"): Option[Double]

// or
map_mixed("e")

res16_0: Option[Double] = Some(2.718)
res16_1: Double = 2.718

In [18]:
// check if key is in map
map_mixed.contains("pi")

res17: Boolean = true

In [19]:
// check if key:value is in map
map_mixed.exists(_ == "e" -> 2.718)
map_mixed.exists(_ == false -> 0.0)

res18_0: Boolean = true
res18_1: Boolean = false

### Maps (hash table, key:value, mutable)

In [20]:
// create an empty (mutable) map of strings
val map_mutable = scala.collection.mutable.Map[String, String]()

map_mutable: collection.mutable.Map[String, String] = Map()

In [21]:
// add entry to map (mutable) of strings
map_mutable += ("Michael" -> "Sweden")

res20: collection.mutable.Map[String, String] = Map("Michael" -> "Sweden")

In [22]:
// add multiple entries to map (mutable) of strings
map_mutable += ("Alex" -> "Norway", "Susan" -> "Spain")

res21: collection.mutable.Map[String, String] = Map("Susan" -> "Spain", "Alex" -> "Norway", "Michael" -> "Sweden")

In [23]:
// delete entry from map (mutable) of strings
map_mutable -= "Alex"

res22: collection.mutable.Map[String, String] = Map("Susan" -> "Spain", "Michael" -> "Sweden")

In [24]:
// update (overwrites overlapping entries)
map_mutable("Michael") = "Malta"

map_mutable

res23_1: collection.mutable.Map[String, String] = Map("Susan" -> "Spain", "Michael" -> "Malta")

### Sets (immutable)

In [25]:
// create a set of numbers
val set_numbers = Set(1, 3, 5, 7, 9)

set_numbers: Set[Int] = Set(5, 1, 9, 7, 3)

In [26]:
// check if '3' is in set of numbers
set_numbers.contains(3)

res25: Boolean = true

In [27]:
// check if '2' is in set of numbers
set_numbers.contains(2)

res26: Boolean = false

### Sets (mutable)

In [28]:
// create two set (mutable) of numbers
val set_mutable_1 = scala.collection.mutable.Set(1, 3, 5)
val set_mutable_2 = scala.collection.mutable.Set(5, 7, 9)

set_mutable_1: collection.mutable.Set[Int] = Set(1, 5, 3)
set_mutable_2: collection.mutable.Set[Int] = Set(9, 5, 7)

In [29]:
// add item to set (mutable)
set_mutable_2 += 11

res28: collection.mutable.Set[Int] = Set(9, 5, 7, 11)

In [30]:
// remove item from set (mutable)
set_mutable_2 -= 11

res29: collection.mutable.Set[Int] = Set(9, 5, 7)

In [31]:
// create a copy of set (mutable)
val set_copy = set_mutable_2.clone

set_copy: collection.mutable.Set[Int] = Set(9, 5, 7)

### Set operations

In [32]:
// creat two new sets (cloned)
val A = set_mutable_1.clone
val B = set_mutable_2.clone

A: collection.mutable.Set[Int] = Set(1, 5, 3)
B: collection.mutable.Set[Int] = Set(9, 5, 7)

In [33]:
// union
A | B

// or
A union B

res32_0: collection.mutable.Set[Int] = Set(9, 1, 5, 3, 7)
res32_1: collection.mutable.Set[Int] = Set(9, 1, 5, 3, 7)

In [34]:
// intersection
A & B

// or
A intersect B

res33_0: collection.mutable.Set[Int] = Set(5)
res33_1: collection.mutable.Set[Int] = Set(5)

In [35]:
// difference
A &~ B

// or
A diff B

res34_0: collection.mutable.Set[Int] = Set(1, 3)
res34_1: collection.mutable.Set[Int] = Set(1, 3)

In [36]:
// subset
A subsetOf B

res35: Boolean = false

<i>Notebook by <a href="https://www.michaelsjoeberg.com">Michael Sjoeberg</a>, updated 24 August 2017.</i>