# Data Structures

12 July 2017 | Python | Basics

## Lists (mutable)

In [1]:
# list of strings
lst_strings = ['Michael','Anna','Adam','Jorge','David','Susan','Cole']

print(lst_strings)

['Michael', 'Anna', 'Adam', 'Jorge', 'David', 'Susan', 'Cole']

In [2]:
# list of mixed
lst_mixed = [6, 28, 1e3, -2, "Text", [1.0, 0.0]]

print(lst_mixed)

[6, 28, 1000.0, -2, 'Text', [1.0, 0.0]]

In [3]:
# length of a list (number of items in list)
len(lst_strings)

7

In [4]:
# concatenate lists
lst_all = lst_strings + lst_mixed

print(lst_all)

['Michael', 'Anna', 'Adam', 'Jorge', 'David', 'Susan', 'Cole', 6, 28, 1000.0, -2, 'Text', [1.0, 0.0]]

In [5]:
# add item to list
lst_strings.append('Alex')

print(lst_strings)

['Michael', 'Anna', 'Adam', 'Jorge', 'David', 'Susan', 'Cole', 'Alex']

In [6]:
# sort list
lst_strings.sort()

print(lst_strings)

['Adam', 'Alex', 'Anna', 'Cole', 'David', 'Jorge', 'Michael', 'Susan']

In [7]:
# print first item in list
print (lst_mixed[0])

# print last item in list
print (lst_mixed[-1])

6
[1.0, 0.0]

In [8]:
# change item in list
lst_mixed[1] = "28"

print(lst_mixed)

[6, '28', 1000.0, -2, 'Text', [1.0, 0.0]]

In [9]:
# delete item in list
del lst_strings[1]

print(lst_strings)

['Adam', 'Anna', 'Cole', 'David', 'Jorge', 'Michael', 'Susan']

In [10]:
# add numeric value to list of strings
lst_strings.append(211)

print(lst_strings)

['Adam', 'Anna', 'Cole', 'David', 'Jorge', 'Michael', 'Susan', 211]

In [11]:
# create a list from string
lst_other = list("F = dp/dt")

print(lst_other)

['F', ' ', '=', ' ', 'd', 'p', '/', 'd', 't']

## Tuples (immutable)

In [12]:
# create a tuple of strings
tpl_strings = ('Michael','Anna','David','Susan')

print(tpl_strings)

('Michael', 'Anna', 'David', 'Susan')

In [13]:
# create a tuple of mixed
tpl_mixed = (1.0, 'Text', 4)

print(tpl_mixed)

(1.0, 'Text', 4)

In [14]:
# create nested tuples
tpl_nested = ('Alpha', 'Bravo', tpl_strings)

print(tpl_nested)

('Alpha', 'Bravo', ('Michael', 'Anna', 'David', 'Susan'))

In [15]:
# print the second item in nested tuples
print (tpl_nested[1])

# print the second item in tuple in nested tuples
print (tpl_nested[2][1])

Bravo
Anna

In [16]:
# concatenate tuples
tpl_all = tpl_strings + tpl_mixed

print(tpl_all)

('Michael', 'Anna', 'David', 'Susan', 1.0, 'Text', 4)

In [17]:
# create tuple from list
tpl_other = tuple(['e', 2.718])

print(tpl_other)

('e', 2.718)

## Dictionaries (hash table, key:value)

In [18]:
# create a dictionary of strings
dct_strings = {'Michael' : 'michael@mail.com',
               'David' : 'david@mail.com',
               'Alex' : 'alex@mail.com',
               'Susan' : 'susan@mail.com'}

dct_strings

{'Alex': 'alex@mail.com',
 'David': 'david@mail.com',
 'Michael': 'michael@mail.com',
 'Susan': 'susan@mail.com'}

In [19]:
# create a dictionary of mixed
dct_mixed = {"pi" : 3.14159,
             "e" : 2.718, 
             "h" : 6.62606957e-34,
             True : 1.0}

dct_mixed

{True: 1.0, 'e': 2.718, 'h': 6.62606957e-34, 'pi': 3.14159}

In [20]:
# get value from dictionary of mixed using key
dct_mixed['e']

2.718

In [21]:
# add entry to dictionary of strings
dct_strings['Anna'] = 'anna@mail.com'

dct_strings

{'Alex': 'alex@mail.com',
 'Anna': 'anna@mail.com',
 'David': 'david@mail.com',
 'Michael': 'michael@mail.com',
 'Susan': 'susan@mail.com'}

In [22]:
# delete entry from dictionary of strings using key
del dct_strings['Anna']

dct_strings

{'Alex': 'alex@mail.com',
 'David': 'david@mail.com',
 'Michael': 'michael@mail.com',
 'Susan': 'susan@mail.com'}

In [23]:
# create a dictionary from list of tuples (key:value)
dct_other = dict([(1, "x"), (2, "y"), (3, "z")])

dct_other

{1: 'x', 2: 'y', 3: 'z'}

In [24]:
# check if item is in dictionary
"pi" in dct_mixed

True

In [25]:
# update (overwrites overlapping keys)
dct_strings.update({'Michael' : 'mike@mail.com',
                    'David' : 'dave@mail.com',
                    'Alex' : 'alex.alex@mail.com',
                    'Susan' : 'sus@mail.com'})

dct_strings

{'Alex': 'alex.alex@mail.com',
 'David': 'dave@mail.com',
 'Michael': 'mike@mail.com',
 'Susan': 'sus@mail.com'}

## Sets (unordered collection)

In [26]:
# create a set of mixed
set_mixed = {1.0, 10, "Text", (1, 0, 1, 0)}

set_mixed

{1.0, 10, 'Text', (1, 0, 1, 0)}

In [27]:
# create two sets of numbers
set_s = {1, 2, 3}
set_t = {3, 4, 5}

set_s, set_t

({1, 2, 3}, {3, 4, 5})

In [28]:
# check if 'Text' is in set of mixed
'Text' in set_mixed

True

In [29]:
# check if 'Python' is in set of mixed
'Java' in set_mixed

False

In [30]:
# create a copy of set of mixed
tmp = set_mixed.copy()

tmp

{1.0, 10, 'Text', (1, 0, 1, 0)}

In [31]:
# add item to 'tmp'
tmp.add('Python')

tmp

{1.0, 10, 'Python', 'Text', (1, 0, 1, 0)}

In [32]:
# remove item from 'tmp'
tmp.remove('Python')

tmp

{1.0, 10, 'Text', (1, 0, 1, 0)}

In [33]:
# union
set_s | set_t

{1, 2, 3, 4, 5}

In [34]:
# intersection
set_s & set_t

{3}

In [35]:
# difference
set_s - set_t

{1, 2}

In [36]:
# symmetric difference
set_s ^ set_t

{1, 2, 4, 5}

In [37]:
# strict subset
set_s < set_t

False

In [38]:
# subset
set_s <= set_t

False

In [39]:
# strict superset
set_s > set_t

False

In [40]:
# superset
set_s >= set_t

False