# Data Structures

## Lists (mutable)

In [1]:
# create a list
lst = ['Michael','Anna','Adam','Jorge','David','Susan','Cole']; lst

['Michael', 'Anna', 'Adam', 'Jorge', 'David', 'Susan', 'Cole']

In [2]:
# length of list
len(lst)

7

In [3]:
# add item to list
lst.append('Alex'); lst

['Michael', 'Anna', 'Adam', 'Jorge', 'David', 'Susan', 'Cole', 'Alex']

In [4]:
# sort list
lst.sort(); lst

['Adam', 'Alex', 'Anna', 'Cole', 'David', 'Jorge', 'Michael', 'Susan']

In [5]:
# print first item in list
print (lst[0])

# print last item in list
print (lst[-1])

Adam
Susan

In [6]:
# delete item in list
del lst[1]; lst

['Adam', 'Anna', 'Cole', 'David', 'Jorge', 'Michael', 'Susan']

In [7]:
# add numeric value to list of strings
lst.append(211); lst

['Adam', 'Anna', 'Cole', 'David', 'Jorge', 'Michael', 'Susan', 211]

## Tuples (immutable)

In [8]:
# create a tuple
tpl = ('Michael','Anna','David','Susan'); tpl

('Michael', 'Anna', 'David', 'Susan')

In [9]:
# create a nested tuples
tpl_nested = ('Alpha', 'Bravo', tpl); tpl_nested

('Alpha', 'Bravo', ('Michael', 'Anna', 'David', 'Susan'))

In [10]:
# print the second item of 'tpl_groups'
print (tpl_nested[1])

# print the second item of 'tpl' in 'tpl_groups'
print (tpl_nested[2][2])

Bravo
David

## Dictionaries (key:value)

In [11]:
# create a dictionary with key:value
dct = {'Michael' : 'mike@dct.org',
       'David' : 'david@dct.org',
       'Alex' : 'alex@dct.org',
       'Susan' : 'susan@dct.org'}

In [12]:
# print value using key
dct['Michael']

'mike@dct.org'

In [13]:
# add entry to dictionary
dct['Anna'] = 'anna@dct.org'; dct

{'Alex': 'alex@dct.org',
 'Anna': 'anna@dct.org',
 'David': 'david@dct.org',
 'Michael': 'mike@dct.org',
 'Susan': 'susan@dct.org'}

In [14]:
# delete dictionary entry based using key
del dct['Anna']; dct

{'Alex': 'alex@dct.org',
 'David': 'david@dct.org',
 'Michael': 'mike@dct.org',
 'Susan': 'susan@dct.org'}

## Sets (unordered collection)

In [15]:
# create a set
collection = set(['Python', 'RStats', 'Perl']); collection

{'Perl', 'Python', 'RStats'}

In [16]:
# check if 'Perl' is in 'collection'
'Perl' in collection

True

In [17]:
# check if 'Java' is in 'collection'
'Java' in collection

False

In [18]:
# create a copy of 'collection' called 'tmp'
tmp = collection.copy(); tmp

{'Perl', 'Python', 'RStats'}

In [19]:
# add item to 'tmp'
tmp.add('Java'); tmp

{'Java', 'Perl', 'Python', 'RStats'}

In [20]:
# remove 'Perl' from 'tmp'
tmp.remove('Perl'); tmp

{'Java', 'Python', 'RStats'}

In [21]:
# check union
collection & tmp

{'Python', 'RStats'}