# Pandas Any Or All

## Import 'pandas' module

In [1]:
import pandas as pd

## Example variables

In [2]:
data = {'numbers' : [1, 2, 3, 4, 5]}

# create a pandas dataframe from 'data'
df = pd.DataFrame(data)

# view 'df'
df

   numbers
0        1
1        2
2        3
3        4
4        5

## Using  'any'

In [3]:
# if any element in 'df.numbers' equal '4'
if (df.numbers == 4).any() : print('True')

# otherwise
else : print('False')

True

## Using 'all'

In [4]:
# if all elements in 'df.numbers' equal 2
if (df.numbers == 2).all() : print('True')

# otherwise
else : print('False')

False